:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --dark-pink: #d10aa6;
    --medium-pink: #fa76dd;
    --light-pink: #fad9f3;
}

.h1 {
    text-align: center;
}

.calculator {
    color: var(--dark-pink);
    font-size: 2rem;
    width: 50%;
    border: 2px solid var(--dark-pink);
    border-radius: 10px;
    padding: 1em;
}

.digits-panel {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.5fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.1em
}

.calculator button {
    font-size: 2.5rem;
    color: var(--dark-pink);
    padding: 1rem 0;
    background-color: var(--light-pink);
    border: 2px solid var(--dark-pink);
    border-radius: 6px;
}

.result-window {
    border: 2px solid var(--dark-pink);
    border-radius: 8px;
    padding: 0 0.2em;
    text-align: right;
}

.division {
    order: 9;
}

.result {
    order: 10;
    grid-column: 1 / span 4;
}